{{! this is the about section }}

<section class="about-us section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="content-left">
          <img src="images\team\video.jpg" alt="#" />
          <a
            href="https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM"
            class="glightbox video"
          ><i class="lni lni-play"></i></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <!-- content-1 start -->
        <div class="content-right">
          <h2>ShopGrids - Your Trusted & Reliable Partner.</h2>
          <p>ShopGrids is an E-commerce platform that tries to deliver the best
            in quality products from all over the world at the most affordable
            rate. At ShopGrids we focus on adding value to our customers by
            ensuring the quickest deliveries, seamless payments, and best in
            class customer service.
          </p>
          <p>
            We hope you enjoy our products as much as we enjoy offering them to
            you. If you have any questions or comments, please don't hesitate to
            contact us. Sincerely,
            <br />
            Minhaj T
            <br />
            CEO, Founder</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->

<!-- Start Team Area -->
<section class="team section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Core Team</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">"The strength of the team
            is each individual member. The strength of each member is the team."</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="single-team">
          <div class="image">
            <img src="images\team\ceo.jpg" alt="#" />
          </div>
          <div class="content">
            <div class="info">
              <h3>Minhaj T</h3>
              <h5>Founder, CEO</h5>
              <ul class="social">
                <li><a href="javascript:void(0)"><i
                      class="lni lni-facebook-filled"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-twitter-original"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-skype"
                    ></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="single-team">
          <div class="image">
            <img src="images\team\Financial Director.jpg" alt="#" />
          </div>
          <div class="content">
            <div class="info">
              <h3>Navaneeth Devan</h3>
              <h5>Financial Director</h5>
              <ul class="social">
                <li><a href="javascript:void(0)"><i
                      class="lni lni-facebook-filled"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-twitter-original"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-skype"
                    ></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="single-team">
          <div class="image">
            <img src="images\team\Marketing Director.jpg" alt="#" />
          </div>
          <div class="content">
            <div class="info">
              <h3>Guru Priyan</h3>
              <h5>Marketing Director</h5>
              <ul class="social">
                <li><a href="javascript:void(0)"><i
                      class="lni lni-facebook-filled"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-twitter-original"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-skype"
                    ></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Team -->
        <div class="single-team">
          <div class="image">
            <img src="images\team\Lead Designer.jpg" alt="#" />
          </div>
          <div class="content">
            <div class="info">
              <h3>Rahul</h3>
              <h5>Lead Designer</h5>
              <ul class="social">
                <li><a href="javascript:void(0)"><i
                      class="lni lni-facebook-filled"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-twitter-original"
                    ></i></a>
                </li>
                <li><a href="javascript:void(0)"><i
                      class="lni lni-skype"
                    ></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Single Team -->
      </div>
    </div>
  </div>
</section>
<!-- End Team Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
  <i class="lni lni-chevron-up"></i>
</a>

<script type="text/javascript">

  //========= glightbox GLightbox({ 'href':
  'https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM',
  'type': 'video', 'source': 'youtube', //vimeo, youtube or local 'width': 900,
  'autoplayVideos': true, });
</script>