<div class="maill-success">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="success-content">
          <i class="lni lni-warning" style="color: red;"></i>
          <h2>Opps ! Something Went Wrong</h2>
          <p>Payment failed due to some internal errors !</p>
          <div class="button">
            <a href="/myOrders" class="btn">Retry order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>